body {
	width: 100%;
	height: 100vh;
	padding-inline: 20px;
	font-family: Ubuntu, sans-serif, serif;
}

:root {
	--primary-bg-color: #eee;
	--font-color: #fff;
	--primary-padding: 20px 40px;
	--secondary-padding: 15px 25px;
	--primary-font-size: 1.5rem;
}

.flex-col {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: grid;
	grid-template-columns: 1fr 180px 1fr;
	grid-template-areas:
		'header header header'
		'left middle right'
		'footer footer footer';
	row-gap: 2rem;
	max-width: 1050px;
	padding: var(--primary-padding);
	text-align: center;
	background-color: var(--primary-bg-color);
}

h3 {
	font-size: 2.25rem;
	grid-area: header;
}

.left {
	grid-area: left;
}

.middle {
	grid-area: middle;
}

.right {
	grid-area: right;
}

footer {
	justify-content: space-around !important;
	grid-area: footer;
}

button {
	gap: 0.5rem;
	appearance: none;
	border: none;
	border-radius: 8px;
	padding: var(--secondary-padding);
	cursor: pointer;
}

.fa-brands {
	color: var(--font-color);
	font-size: var(--primary-font-size);
}

button>p.text {
	font-size: var(--primary-font-size);
	font-weight: 500;
	color: var(--font-color);
}

.right>div>input {
	width: 100%;
	padding: var(--secondary-padding);
	font-size: var(--primary-font-size);
	font-weight: 400;
	border: none;
	border-radius: 8px;
	background-color: #fff;
}

.middle>.stick {
	position: relative;
	width: 4px;
	height: 250px;
	background-color: silver;
}

.middle>.stick>.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	color: #000;
	font-weight: bolder;
	border: 2px solid silver;
	border-radius: 50vw;
	background-color: var(--primary-bg-color);
	transform: translate(-50%, -50%);
}

.hidden-content {
	display: none;
	font-size: var(--primary-font-size);
}

footer {
	font-size: var(--primary-font-size);
	margin-inline: -40px;
	margin-bottom: -20px;
	padding: var(--secondary-padding);
	color: var(--font-color);
	background-color: rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 60em) {
	:root {
		--secondary-padding: 10px 15px;
		--primary-font-size: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
		padding-inline: 15px;
	}

	h3 {
		font-size: 1.65rem;
	}

	footer {
		margin-inline: -15px;
	}

	.middle>.stick {
		display: none;
	}

	.middle>.hidden-content {
		display: block;
	}
}
